
<!DOCTYPE html>
<html>
<style>
  body {
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSw36coKy0yV_SaARMYHQhnetCz4sRtXIjWm6H-1cRH67jE5nF3");
    background-repeat: no-repeat;
    background-size: 250% 350%;
  }
</style>



<h1>Welcome</h1>

<%=@user.firstname%><br>
<br><br>
<br><br>

<a href="/sessions/logout">Logout</a>