

<!DOCTYPE html>
<html>
<style>
  body {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orchid;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }


  li a.active {
    background-color: #4CAF50;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
</style>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="#">Home</a></li>
          <li ><a href="#">News</a></li>
          <li ><a href="#">Contact</a></li>
          <li ><a href="#">About</a></li>
        </ul>
      </nav>

    <%= yield %>

          <%#= flash[:notice] %>


    </div>

  </body>
</html>